@font-face {
  font-family: 'Scicon-Brands';
  src:  url('fonts/Scicon-Brands.eot?vmzbxb');
  src:  url('fonts/Scicon-Brands.eot?vmzbxb#iefix') format('embedded-opentype'),
    url('fonts/Scicon-Brands.ttf?vmzbxb') format('truetype'),
    url('fonts/Scicon-Brands.woff?vmzbxb') format('woff'),
    url('fonts/Scicon-Brands.svg?vmzbxb#Scicon-Brands') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.scicon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Scicon-Brands' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.scicon-acrobat:before {
  content: "\e970";
}
.scicon-adobe:before {
  content: "\e971";
}
.scicon-adobe-animate:before {
  content: "\e972";
}
.scicon-adobe-fuse:before {
  content: "\e973";
}
.scicon-adobe-wordmark:before {
  content: "\e974";
}
.scicon-after-effects:before {
  content: "\e975";
}
.scicon-amazon:before {
  content: "\e976";
}
.scicon-amazon-a:before {
  content: "\e977";
}
.scicon-apache:before {
  content: "\e978";
}
.scicon-apache-wordmark:before {
  content: "\e979";
}
.scicon-appstore:before {
  content: "\e97a";
}
.scicon-bing:before {
  content: "\e97b";
}
.scicon-bootstrap:before {
  content: "\e97c";
}
.scicon-brave:before {
  content: "\e97d";
}
.scicon-brave-text:before {
  content: "\e97e";
}
.scicon-brave-wordmark:before {
  content: "\e97f";
}
.scicon-chrome:before {
  content: "\e980";
}
.scicon-cloudflare:before {
  content: "\e981";
}
.scicon-cloudflare-wordmark:before {
  content: "\e982";
}
.scicon-codepen:before {
  content: "\e983";
}
.scicon-cpanel:before {
  content: "\e984";
}
.scicon-creative-cloud:before {
  content: "\e985";
}
.scicon-docker:before {
  content: "\e986";
}
.scicon-docker-wordmark:before {
  content: "\e987";
}
.scicon-dreamweaver:before {
  content: "\e988";
}
.scicon-dribbble:before {
  content: "\e989";
}
.scicon-edge:before {
  content: "\e98a";
}
.scicon-edge-alt:before {
  content: "\e98b";
}
.scicon-edge-old:before {
  content: "\e98c";
}
.scicon-firefox:before {
  content: "\e98d";
}
.scicon-flickr:before {
  content: "\e98e";
}
.scicon-flickr-wordmark:before {
  content: "\e98f";
}
.scicon-gmail:before {
  content: "\e990";
}
.scicon-guilded:before {
  content: "\e991";
}
.scicon-guilded-wordmark:before {
  content: "\e992";
}
.scicon-illustrator:before {
  content: "\e993";
}
.scicon-incopy:before {
  content: "\e994";
}
.scicon-indesign:before {
  content: "\e995";
}
.scicon-jsdelivr:before {
  content: "\e996";
}
.scicon-jsdelivr-text:before {
  content: "\e997";
}
.scicon-jsdelivr-wordmark:before {
  content: "\e998";
}
.scicon-kickstarter:before {
  content: "\e999";
}
.scicon-kickstarter-wordmark:before {
  content: "\e99a";
}
.scicon-lightroom:before {
  content: "\e99b";
}
.scicon-lightroom-classic:before {
  content: "\e99c";
}
.scicon-markdown:before {
  content: "\e99d";
}
.scicon-markdown-alt:before {
  content: "\e99e";
}
.scicon-mastodon:before {
  content: "\e99f";
}
.scicon-maxcdn:before {
  content: "\e9a0";
}
.scicon-medium:before {
  content: "\e9a1";
}
.scicon-medium-text:before {
  content: "\e9a2";
}
.scicon-medium-wordmark:before {
  content: "\e9a3";
}
.scicon-messenger:before {
  content: "\e9a4";
}
.scicon-messenger-alt:before {
  content: "\e9a5";
}
.scicon-microsoft:before {
  content: "\e9a6";
}
.scicon-microsoft-text:before {
  content: "\e9a7";
}
.scicon-microsoft-wordmark:before {
  content: "\e9a8";
}
.scicon-mozilla:before {
  content: "\e9a9";
}
.scicon-npm:before {
  content: "\e9aa";
}
.scicon-npm-alt:before {
  content: "\e9ab";
}
.scicon-npm-text:before {
  content: "\e9ac";
}
.scicon-openai:before {
  content: "\e9ad";
}
.scicon-openai-text:before {
  content: "\e9ae";
}
.scicon-openai-wordmark:before {
  content: "\e9af";
}
.scicon-orcid:before {
  content: "\e9b0";
}
.scicon-patreon:before {
  content: "\e9b1";
}
.scicon-patreon-text:before {
  content: "\e9b2";
}
.scicon-photoshop:before {
  content: "\e9b3";
}
.scicon-pinterest:before {
  content: "\e9b4";
}
.scicon-pinterest-alt:before {
  content: "\e9b5";
}
.scicon-pinterest-text:before {
  content: "\e9b6";
}
.scicon-pinterest-wordmark:before {
  content: "\e9b7";
}
.scicon-playstore:before {
  content: "\e9b8";
}
.scicon-prelude:before {
  content: "\e9b9";
}
.scicon-premiere-pro:before {
  content: "\e9ba";
}
.scicon-reddit:before {
  content: "\e9bb";
}
.scicon-reddit-alt:before {
  content: "\e9bc";
}
.scicon-reddit-text:before {
  content: "\e9bd";
}
.scicon-reddit-wordmark:before {
  content: "\e9be";
}
.scicon-skype:before {
  content: "\e9bf";
}
.scicon-slack:before {
  content: "\e9c0";
}
.scicon-slack-wordmark:before {
  content: "\e9c1";
}
.scicon-steam:before {
  content: "\e9c2";
}
.scicon-stripe:before {
  content: "\e9c3";
}
.scicon-stripe-s:before {
  content: "\e9c4";
}
.scicon-swift:before {
  content: "\e9c5";
}
.scicon-tiktok:before {
  content: "\e9c6";
}
.scicon-tiktok-text:before {
  content: "\e9c7";
}
.scicon-topaz-labs:before {
  content: "\e9c8";
}
.scicon-topaz-labs-wordmark:before {
  content: "\e9c9";
}
.scicon-tumblr:before {
  content: "\e9ca";
}
.scicon-tumblr-text:before {
  content: "\e9cb";
}
.scicon-twitch:before {
  content: "\e9cc";
}
.scicon-unity:before {
  content: "\e9cd";
}
.scicon-unity-wordmark:before {
  content: "\e9ce";
}
.scicon-ups:before {
  content: "\e9cf";
}
.scicon-vimeo:before {
  content: "\e9d0";
}
.scicon-vimeo-text:before {
  content: "\e9d1";
}
.scicon-visual-studio:before {
  content: "\e9d2";
}
.scicon-visual-studio-code:before {
  content: "\e9d3";
}
.scicon-vsc-insiders:before {
  content: "\e9d4";
}
.scicon-whatsapp:before {
  content: "\e9d5";
}
.scicon-yahoo:before {
  content: "\e9d6";
}
.scicon-yahoo-wordmark:before {
  content: "\e9d7";
}
.scicon-yandex:before {
  content: "\e9d8";
}
.scicon-yandex-ru:before {
  content: "\e9d9";
}
.scicon-yandex-ru-wordmark:before {
  content: "\e9da";
}
.scicon-yandex-wordmark:before {
  content: "\e9db";
}
.scicon-zendesk:before {
  content: "\e9dc";
}
.scicon-zendesk-wordmark:before {
  content: "\e9dd";
}
.scicon-zotero:before {
  content: "\e9de";
}
.scicon-zoterobib:before {
  content: "\e9df";
}
.scicon-zotero-wordmark:before {
  content: "\e9e0";
}
.scicon-apple-inc:before {
  content: "\e902";
}
.scicon-arduino:before {
  content: "\e903";
}
.scicon-arduino-wordmark:before {
  content: "\e904";
}
.scicon-c-lang:before {
  content: "\e905";
}
.scicon-c-lang-alt:before {
  content: "\e906";
}
.scicon-cpp-lang:before {
  content: "\e907";
}
.scicon-c-sharp:before {
  content: "\e908";
}
.scicon-css:before {
  content: "\e909";
}
.scicon-css-wordmark:before {
  content: "\e90a";
}
.scicon-discord:before {
  content: "\e90b";
}
.scicon-discord-text:before {
  content: "\e90c";
}
.scicon-discord-wordmark:before {
  content: "\e90d";
}
.scicon-esa:before {
  content: "\e90e";
}
.scicon-esa-text:before {
  content: "\e90f";
}
.scicon-esa-wordmark:before {
  content: "\e910";
}
.scicon-facebook:before {
  content: "\e911";
}
.scicon-facebook-f:before {
  content: "\e912";
}
.scicon-fortran:before {
  content: "\e913";
}
.scicon-f-sharp:before {
  content: "\e914";
}
.scicon-github:before {
  content: "\e915";
}
.scicon-github-text:before {
  content: "\e916";
}
.scicon-gitlab:before {
  content: "\e917";
}
.scicon-gitlab-text:before {
  content: "\e918";
}
.scicon-gitlab-wordmark:before {
  content: "\e919";
}
.scicon-go-gopher:before {
  content: "\e91a";
}
.scicon-go-lang:before {
  content: "\e91b";
}
.scicon-google:before {
  content: "\e91c";
}
.scicon-google-text:before {
  content: "\e91d";
}
.scicon-html5:before {
  content: "\e91e";
}
.scicon-html5-wordmark:before {
  content: "\e91f";
}
.scicon-ibm:before {
  content: "\e920";
}
.scicon-instagram:before {
  content: "\e921";
}
.scicon-instagram-alt:before {
  content: "\e922";
}
.scicon-java:before {
  content: "\e923";
}
.scicon-javascript:before {
  content: "\e924";
}
.scicon-javascript-text:before {
  content: "\e925";
}
.scicon-java-wordmark:before {
  content: "\e926";
}
.scicon-jquery:before {
  content: "\e927";
}
.scicon-jquery-slogan:before {
  content: "\e928";
}
.scicon-jquery-wordmark:before {
  content: "\e929";
}
.scicon-khan-academy:before {
  content: "\e92a";
}
.scicon-khan-academy-alt:before {
  content: "\e92b";
}
.scicon-khan-academy-text:before {
  content: "\e92c";
}
.scicon-khan-academy-wordmark:before {
  content: "\e92d";
}
.scicon-linkedin:before {
  content: "\e92e";
}
.scicon-linkedin-wordmark:before {
  content: "\e92f";
}
.scicon-matlab:before {
  content: "\e930";
}
.scicon-mercedes:before {
  content: "\e931";
}
.scicon-meta:before {
  content: "\e932";
}
.scicon-meta-wordmark:before {
  content: "\e933";
}
.scicon-mongodb-leaf:before {
  content: "\e934";
}
.scicon-mongodb-wordmark:before {
  content: "\e935";
}
.scicon-mysql:before {
  content: "\e936";
}
.scicon-mysql-mark:before {
  content: "\e937";
}
.scicon-mysql-text:before {
  content: "\e938";
}
.scicon-nasa:before {
  content: "\e939";
}
.scicon-nasa-worm:before {
  content: "\e93a";
}
.scicon-nature:before {
  content: "\e93b";
}
.scicon-nature-text:before {
  content: "\e93c";
}
.scicon-nodejs:before {
  content: "\e93d";
}
.scicon-nodejs-js:before {
  content: "\e93e";
}
.scicon-nodejs-wordmark:before {
  content: "\e93f";
}
.scicon-nsf:before {
  content: "\e940";
}
.scicon-perl:before {
  content: "\e941";
}
.scicon-perl-camel:before {
  content: "\e942";
}
.scicon-php:before {
  content: "\e943";
}
.scicon-php-text:before {
  content: "\e944";
}
.scicon-python:before {
  content: "\e945";
}
.scicon-quora:before {
  content: "\e946";
}
.scicon-quora-alt:before {
  content: "\e947";
}
.scicon-react:before {
  content: "\e948";
}
.scicon-researchgate:before {
  content: "\e949";
}
.scicon-researchgate-alt:before {
  content: "\e94a";
}
.scicon-sass:before {
  content: "\e94b";
}
.scicon-scihook:before {
  content: "\e94c";
}
.scicon-scihook-alt:before {
  content: "\e94d";
}
.scicon-scihook-square:before {
  content: "\e94e";
}
.scicon-spacex:before {
  content: "\e94f";
}
.scicon-spacex-alt:before {
  content: "\e950";
}
.scicon-spotify:before {
  content: "\e951";
}
.scicon-spotify-text:before {
  content: "\e952";
}
.scicon-spotify-wordmark:before {
  content: "\e953";
}
.scicon-sqlite:before {
  content: "\e954";
}
.scicon-sqlite-wordmark:before {
  content: "\e955";
}
.scicon-stackoverflow:before {
  content: "\e956";
}
.scicon-stackoverflow-text:before {
  content: "\e957";
}
.scicon-stackoverflow-wordmark:before {
  content: "\e958";
}
.scicon-telegram:before {
  content: "\e959";
}
.scicon-telegram-rounded:before {
  content: "\e95a";
}
.scicon-tesla-inc:before {
  content: "\e95b";
}
.scicon-tesla-text:before {
  content: "\e95c";
}
.scicon-tesla-wordmark:before {
  content: "\e95d";
}
.scicon-threads:before {
  content: "\e95e";
}
.scicon-tua:before {
  content: "\e95f";
}
.scicon-tua-wordmark:before {
  content: "\e960";
}
.scicon-tubitak:before {
  content: "\e961";
}
.scicon-tubitak-wordmark:before {
  content: "\e962";
}
.scicon-twitter:before {
  content: "\e963";
}
.scicon-typescript:before {
  content: "\e964";
}
.scicon-typescript-rounded:before {
  content: "\e965";
}
.scicon-vuejs:before {
  content: "\e966";
}
.scicon-wikimedia:before {
  content: "\e967";
}
.scicon-wikimedia-text:before {
  content: "\e968";
}
.scicon-wikimedia-wordmark:before {
  content: "\e969";
}
.scicon-wikipedia:before {
  content: "\e96a";
}
.scicon-x-corp:before {
  content: "\e96b";
}
.scicon-youtube:before {
  content: "\e96c";
}
.scicon-youtube-play:before {
  content: "\e96d";
}
.scicon-youtube-text:before {
  content: "\e96e";
}
.scicon-youtube-wordmark:before {
  content: "\e96f";
}
.scicon-html51:before {
  content: "\e900";
}
.scicon-html5-wordmark1:before {
  content: "\e901";
}
