$icomoon-font-family: "Scicon-Brands" !default;
$icomoon-font-path: "https://cdn.jsdelivr.net/gh/sci-hook/scicon-brands@latest/fonts" !default;

$scicon-apple-inc: "\e902";
$scicon-arduino: "\e903";
$scicon-arduino-wordmark: "\e904";
$scicon-c-lang: "\e905";
$scicon-c-lang-alt: "\e906";
$scicon-cpp-lang: "\e907";
$scicon-c-sharp: "\e908";
$scicon-css: "\e909";
$scicon-css-wordmark: "\e90a";
$scicon-discord: "\e90b";
$scicon-discord-text: "\e90c";
$scicon-discord-wordmark: "\e90d";
$scicon-esa: "\e90e";
$scicon-esa-text: "\e90f";
$scicon-esa-wordmark: "\e910";
$scicon-facebook: "\e911";
$scicon-facebook-f: "\e912";
$scicon-fortran: "\e913";
$scicon-f-sharp: "\e914";
$scicon-github: "\e915";
$scicon-github-text: "\e916";
$scicon-gitlab: "\e917";
$scicon-gitlab-text: "\e918";
$scicon-gitlab-wordmark: "\e919";
$scicon-go-gopher: "\e91a";
$scicon-go-lang: "\e91b";
$scicon-google: "\e91c";
$scicon-google-text: "\e91d";
$scicon-html5: "\e91e";
$scicon-html5-wordmark: "\e91f";
$scicon-ibm: "\e920";
$scicon-instagram: "\e921";
$scicon-instagram-alt: "\e922";
$scicon-java: "\e923";
$scicon-javascript: "\e924";
$scicon-javascript-text: "\e925";
$scicon-java-wordmark: "\e926";
$scicon-jquery: "\e927";
$scicon-jquery-slogan: "\e928";
$scicon-jquery-wordmark: "\e929";
$scicon-khan-academy: "\e92a";
$scicon-khan-academy-alt: "\e92b";
$scicon-khan-academy-text: "\e92c";
$scicon-khan-academy-wordmark: "\e92d";
$scicon-linkedin: "\e92e";
$scicon-linkedin-wordmark: "\e92f";
$scicon-matlab: "\e930";
$scicon-mercedes: "\e931";
$scicon-meta: "\e932";
$scicon-meta-wordmark: "\e933";
$scicon-mongodb-leaf: "\e934";
$scicon-mongodb-wordmark: "\e935";
$scicon-mysql: "\e936";
$scicon-mysql-mark: "\e937";
$scicon-mysql-text: "\e938";
$scicon-nasa: "\e939";
$scicon-nasa-worm: "\e93a";
$scicon-nature: "\e93b";
$scicon-nature-text: "\e93c";
$scicon-nodejs: "\e93d";
$scicon-nodejs-js: "\e93e";
$scicon-nodejs-wordmark: "\e93f";
$scicon-nsf: "\e940";
$scicon-perl: "\e941";
$scicon-perl-camel: "\e942";
$scicon-php: "\e943";
$scicon-php-text: "\e944";
$scicon-python: "\e945";
$scicon-quora: "\e946";
$scicon-quora-alt: "\e947";
$scicon-react: "\e948";
$scicon-researchgate: "\e949";
$scicon-researchgate-alt: "\e94a";
$scicon-sass: "\e94b";
$scicon-scihook: "\e94c";
$scicon-scihook-alt: "\e94d";
$scicon-scihook-square: "\e94e";
$scicon-spacex: "\e94f";
$scicon-spacex-alt: "\e950";
$scicon-spotify: "\e951";
$scicon-spotify-text: "\e952";
$scicon-spotify-wordmark: "\e953";
$scicon-sqlite: "\e954";
$scicon-sqlite-wordmark: "\e955";
$scicon-stackoverflow: "\e956";
$scicon-stackoverflow-text: "\e957";
$scicon-stackoverflow-wordmark: "\e958";
$scicon-telegram: "\e959";
$scicon-telegram-rounded: "\e95a";
$scicon-tesla-inc: "\e95b";
$scicon-tesla-text: "\e95c";
$scicon-tesla-wordmark: "\e95d";
$scicon-threads: "\e95e";
$scicon-tua: "\e95f";
$scicon-tua-wordmark: "\e960";
$scicon-tubitak: "\e961";
$scicon-tubitak-wordmark: "\e962";
$scicon-twitter: "\e963";
$scicon-typescript: "\e964";
$scicon-typescript-rounded: "\e965";
$scicon-vuejs: "\e966";
$scicon-wikimedia: "\e967";
$scicon-wikimedia-text: "\e968";
$scicon-wikimedia-wordmark: "\e969";
$scicon-wikipedia: "\e96a";
$scicon-x-corp: "\e96b";
$scicon-youtube: "\e96c";
$scicon-youtube-play: "\e96d";
$scicon-youtube-text: "\e96e";
$scicon-youtube-wordmark: "\e96f";
$scicon-html51: "\e900";
$scicon-html5-wordmark1: "\e901";

